<html>
  <head>
  {# https://stackoverflow.com/questions/44657829/css-file-blocked-mime-type-mismatch-x-content-type-options-nosniff #}
  <link type="text/css" href="/bundle.css"></link>
  </head>
  <body>
  {{ content | safe }}
  </body>
</html>